<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-light" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/home-page" class="nav-link active grey-links grey-active" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/teacher/register-teacher" class="nav-link grey-links">
                Add Teacher
            </a>
        </li>
        <li>
            <a routerLink="/teacher/delete-teacher" class="nav-link grey-links">
                Delete Teacher
            </a>
        </li>
        <li>
            <a routerLink="/teacher/update-teacher" class="nav-link grey-links">
                Update Teacher
            </a>
        </li>
        <li>
            <a routerLink="/teacher/search-teacher" class="nav-link grey-links">
                Search Teacher
            </a>
        </li>
        <li>
            <a routerLink="/teacher/get-all-teachers" class="nav-link grey-links">
                Get All Teachers
            </a>
        </li>
    </ul>
</div>
