<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/home-page" class="nav-link active red-links red-active" aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/student/add-student" class="nav-link red-links">Add Student</a></li>
            <li class="nav-item"><a routerLink="/student/delete-student" class="nav-link red-links">Delete Student</a></li>
            <li class="nav-item"><a routerLink="/student/update-student" class="nav-link red-links">Update Student</a></li>
            <li class="nav-item"><a routerLink="/student/search-student" class="nav-link red-links">Search Student</a></li>
            <li class="nav-item"><a routerLink="/student/get-all-students" class="nav-link red-links">Get All Students</a></li>
        </ul>
    </header>
</div>
