.red-links{
    color: #dc3545; /* #198754 #6c757d */
}
.red-links:hover{
    color: #bc2c3a;
}
.red-active{
    padding: 5 10 10 5;
    border-radius: 10px;
    background-color: #dc3545 !important;
}
.red-active:hover{
    color: #fff;
    background-color: #bc2c3a !important;
}