<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-light" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/home-page" class="nav-link active red-links red-active" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/student/register-student" class="nav-link red-links">
                Add Student
            </a>
        </li>
        <li>
            <a routerLink="/student/delete-student" class="nav-link red-links">
                Delete Student
            </a>
        </li>
        <li>
            <a routerLink="/student/update-student" class="nav-link red-links">
                Update Student
            </a>
        </li>
        <li>
            <a routerLink="/student/search-student" class="nav-link red-links">
                Search Student
            </a>
        </li>
        <li>
            <a routerLink="/student/get-all-students" class="nav-link red-links">
                Get All Students
            </a>
        </li>
    </ul>
</div>
