<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/home-page" class="nav-link active green-links green-active" aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/classroom/add-classroom" class="nav-link green-links">Add Classroom</a></li>
            <li class="nav-item"><a routerLink="/classroom/delete-classroom" class="nav-link green-links">Delete Classroom</a></li>
            <li class="nav-item"><a routerLink="/classroom/update-classroom" class="nav-link green-links">Update Classroom</a></li>
            <li class="nav-item"><a routerLink="/classroom/search-classroom" class="nav-link green-links">Search Classroom</a></li>
            <li class="nav-item"><a routerLink="/classroom/get-all-classrooms" class="nav-link green-links">Get All Classrooms</a></li>
        </ul>
    </header>
</div>