<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a routerLink="/home-page" class="nav-link active grey-links grey-active" aria-current="page">Home</a></li>
            <li class="nav-item"><a routerLink="/teacher/add-teacher" class="nav-link grey-links">Add Teacher</a></li>
            <li class="nav-item"><a routerLink="/teacher/delete-teacher" class="nav-link grey-links">Delete Teacher</a></li>
            <li class="nav-item"><a routerLink="/teacher/update-teacher" class="nav-link grey-links">Update Teacher</a></li>
            <li class="nav-item"><a routerLink="/teacher/search-teacher" class="nav-link grey-links">Search Teacher</a></li>
            <li class="nav-item"><a routerLink="/teacher/get-all-teachers" class="nav-link grey-links">Get All Teachers</a></li>
        </ul>
    </header>
</div>