<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-light" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="/home-page" class="nav-link active green-links green-active" aria-current="page">
                Home
            </a>
        </li>
        <li>
            <a routerLink="/classroom/add-classroom" class="nav-link green-links">
                Add Classroom
            </a>
        </li>
        <li>
            <a routerLink="/classroom/delete-classroom" class="nav-link green-links">
                Delete Classroom
            </a>
        </li>
        <li>
            <a routerLink="/classroom/update-classroom" class="nav-link green-links">
                Update Classroom
            </a>
        </li>
        <li>
            <a routerLink="/classroom/search-classroom" class="nav-link green-links">
                Search Classroom
            </a>
        </li>
        <li>
            <a routerLink="/classroom/get-all-classrooms" class="nav-link green-links">
                Get All Classrooms
            </a>
        </li>
    </ul>
</div>
