<h2 class="text-center">DELETE CLASSROOM</h2>
<br>
<p class="text-center">First, you click the row of the classroom you want to delete. <br>Then press the delete button.</p>
<br>
<hr>
<div class="d-flex justify-content-center">
    <div *ngIf="!classroomList" class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<table class="table table-hover" *ngIf="classroomList">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Batch Number</th>
            <th scope="col">Color</th>
            <th scope="col">Number of desks</th>
            <th scope="col">Number of seats</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let classroom of classroomList; let i = index" (click)="selectRow(classroom.batchNumber)">
            <th scope="row">{{i+1}}</th>
            <td>{{classroom.batchNumber}}</td>
            <td>{{classroom.color}}</td>
            <td>{{classroom.numbDesks}}</td>
            <td>{{classroom.numbSeats}}</td>
            <td><button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
              </svg>
            </button></td>
        </tr>
    </tbody>
</table>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this classroom?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          You cannot revert the action.
        </div>
        <div class="modal-footer">
          <button (click)="removeClassroom()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes, I want to.</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No, I don't want to.</button>
        </div>
      </div>
    </div>
</div>
