<h2 class="text-center">SEARCH STUDENT</h2>
<br>
<p class="text-center">Search the student's full name you want ot search, <br>then you'll see the result automatically while typing.</p>
<br>
<hr>
<br>
<div class="input-group mb-3">
    <input [(ngModel)]="searchInput" type="text" class="form-control" placeholder="Search student's full name" aria-label="Full Name" aria-describedby="basic-addon1">
    <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
</div>
<br>
<hr>
<br>
<div class="d-flex justify-content-center">
    <div *ngIf="!studentList" class="spinner-grow text-danger" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<table class="table table-hover" *ngIf="studentList">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full name</th>
            <th scope="col">Institute</th>
            <th scope="col">Batch</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Date of Birth</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of filteredStudentList; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{student.fullName}}</td>
            <td>{{student.institute}}</td>
            <td>{{student.classroom.batchNumber}}</td>
            <td>{{student.contactNumber}}</td>
            <td>{{student.dob}}</td>
        </tr>
    </tbody>
</table>